In [ ]:
#!pip install matplotlib

In [ ]:
#!pip install seaborn

In [ ]:
import sys
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
age = 25
contrib = 60000
investment_rate = 8
investment_percent = 80
bond_rate = 2
bond_percent = 15
cash_rate = -2
cash_percent = 5

In [ ]:
def compound_interest(investment, percent_contrib,interest_rate, num_years, annual_contrib):
    l = [investment*(percent_contrib*.01)]
    annual_contrib = annual_contrib * (percent_contrib*.01)
    rate = 1+(interest_rate*.01)
    for i in range(num_years):
        l.append(round((l[i]*rate)+annual_contrib,2))
    return l

In [ ]:
init_invest = 50000
annual_contrib = 50000
inv = compound_interest(init_invest,investment_percent, investment_rate,30,annual_contrib)
bond = compound_interest(init_invest,bond_percent,bond_rate,30,annual_contrib )
cash = compound_interest(init_invest,cash_percent,cash_rate,30,annual_contrib)
a=np.array([inv,bond,cash])
o=np.sum(a,axis=0)
list(o)

In [ ]:
expenses = 30000
withdrawal = expenses*25
p=[withdrawal]*31
print(withdrawal)

In [ ]:
for i in zip(range(30),o):
    if i[1] > withdrawal:
        fi = i[0] 
        break
print(f'You can retire in {fi} years at age {age+fi}')

In [ ]:
plt.plot(l,o)
plt.plot(l,p)

In [ ]:
def x_axis(time_span):
    current_year = int(datetime.today().strftime('%Y'))
    l = [current_year]
    for i in range(time_span):
        l.append(l[-1]+1)
    return l

In [ ]:
x_axis(30)

In [ ]:
state_str="""Alabama - AL

Alaska - AK

Arizona - AZ

Arkansas - AR

California - CA

Colorado - CO

Connecticut - CT

Delaware - DE

Florida - FL

Georgia - GA

Hawaii - HI

Idaho - ID

Illinois - IL

Indiana - IN

Iowa - IA

Kansas - KS

Kentucky - KY

Louisiana - LA

Maine - ME

Maryland - MD

Massachusetts - MA

Michigan - MI

Minnesota - MN

Mississippi - MS

Missouri - MO

Montana - MT

Nebraska - NE

Nevada - NV

New Hampshire - NH

New Jersey - NJ

New Mexico - NM

New York - NY

North Carolina - NC

North Dakota - ND

Ohio - OH

Oklahoma - OK

Oregon - OR

Pennsylvania - PA

Rhode Island - RI

South Carolina - SC

South Dakota - SD

Tennessee - TN

Texas - TX

Utah - UT

Vermont - VT

Virginia - VA

Washington - WA

West Virginia - WV

Wisconsin - WI

Wyoming - WY"""

In [ ]:
states = state_str.split('\n\n')
states = [i.split(' - ') for i in states]
states = [(i[1],i[0]) for i in states]
str(states)

In [ ]:
from datetime import datetime
datetime.today().year

In [ ]:
def aftertax(salary, taxes):
    return salary-taxes

In [ ]:
aftertax(80000, 20000)

In [ ]:
1000**1.10

In [ ]:
def compound_interest(investment, interest_rate, num_years, monthly_contrib):
    annual_contrib = 12*monthly_contrib
    l = [investment]
    rate = 1+(interest_rate*.01)
    for i in range(num_years):
        new_balance = round((l[i]*rate)+annual_contrib,2)
        l.append(new_balance)
    df = pd.DataFrame(enumerate(l), columns=['Number of Years','Investment Value'])
    return df

In [ ]:
a = compound_interest(20000,10,10,3500)
a

In [ ]:
a.iloc[:,0]

In [ ]:
def chartTest(df): 
    plt.scatter(x=df.iloc[:,1],y=df.iloc[:,0])
    plt.savefig('/static/images/new_plot.png')
    return

In [ ]:
plt.plot(a.iloc[:,0],a.iloc[:,1],'-o')

In [ ]:
plt.show()

## Tax calculator

In [ ]:
annual_income = 85000
state='MI'
filing_status = 'single'
trad_401k = 0
roth_401k = 0
deduction = 0

In [ ]:
fica_tax(275000,'married')

In [ ]:
state_tax_dict = {
"AL":
    {"single":
        {'deduction': 4000,
        'brackets': [500,3000],
        'tax':[.02,.04,.05]
        },
     'married':
         {'deduction': 10500,
         'brackets':[1000,6000],
         'tax':[.02,.04,.05]
         }
    },
 'AK': None,
 'AZ': 
     {'single':
        {'deduction': 12200,
         'brackets': [26500,53000,159000],
         'tax':[.0259,.0334,.0417,.0450]
        },
      'married':
          {'deduction':24400,
          'brackets':[53000,106000,318000],
          'tax':[.0259,.0334,.0417,.0450]
          }  
     }
}

In [ ]:
fed_tax = {
    'FED': {
        'single': {
            'deduction': 12200,
            'brackets': [9700, 39475, 84200, 160725, 204100, 510300],
            'tax': [.10,.12,.22,.24,.32,.35,.37]
        },
        'married': {
            'deduction': 24400,
            'brackets': [19400,78950, 168400, 321450, 408200, 612350],
            'tax': [.10,.12,.22,.24,.32,.35,.37]
        }
    }
}

In [ ]:
'single': {
    'deduction': 0,
    'brackets': [132900,200000],
    'tax': [.0765, .0145, .0235]
},
'married': {
    'deduction': 0,
    'brackets': [132900,250000],
    'tax': [.0765, .0145, .0235]
}

In [ ]:
def tax(tax_dict, income, filing_status, state='FED'):
    
    data = tax_dict[state][filing_status]
    deduction = data['deduction']
    brackets = [0] + data['brackets']
    brackets.reverse()
    tax = data['tax']
    tax.reverse()
    taxable_income = income - deduction
    
    tax_out = 0
    inc_remain = taxable_income
    for b,t in zip(brackets,tax):
        if inc_remain > b:
            taxable = inc_remain - b
            to = taxable * t
            tax_out += to
            inc_remain = b


    return tax_out

In [ ]:
tax(fed_tax, 230000, 'single')

In [ ]:
85000 * .22

In [ ]:
230000*.0235

In [ ]:
tax(fed_tax, 85000, 'single','FED')

In [ ]:
def state_tax(annual_income, state, filing_status):
    if filing_status =='single':
        if state == 'AL':
            taxable_income = annual_income - 4000
            if taxable_income <500:
                tax = taxable_income * .02
            elif taxable_income<3000:
                tax = 10 + (taxable_income-500) * .04
            else:
                tax = 110 + (taxable_income-3000) * .05
        elif state == 'AK':
            tax = 0
        elif state == 'AZ':
            taxable_income = annual_income - 12200
            if taxable_income >0 and taxable_income < 26500:
                tax = taxable_income * .0259
            elif taxable_income < 53000:
                tax = 686.32 + (taxable_income-26500) * .0334
            elif taxable_income < 159000:
                tax = 1571.42 + (taxable_income-53000) * .0417
            else:
                tax = 5991.62 + (taxable_income-159000) * .045
        elif state == "":
            pass

    else:
        if state == 'AZ':
            taxable_income = annual_income - 12200
            if taxable_income >0 and taxable_income < 26500:
                tax = taxable_income * .0259
            elif taxable_income < 53000:
                tax = 686.32 + (taxable_income-26500) * .0334
            elif taxable_income < 159000:
                tax = 1571.42 + (taxable_income-53000) * .0417
            else:
                tax = 5991.62 + (taxable_income-159000) * .045
            tax = 0
            
    return tax

In [ ]:
state_tax(80000,'AZ','single')

In [ ]:
5535+2292

In [ ]:
11047+7827

In [ ]:
fed_tax = {
    
}

## Blog 1

In [ ]:
nothing = [30000]
for i in range(10):
    new = nothing[i] * 1.06
    nothing.append(new)
nothing = [i*-1 for i in nothing]

In [ ]:
minus_5000 = [25000]
for i in range(10):
    new = minus_5000[i] * 1.06
    minus_5000.append(new)
minus_5000 = [i*-1 for i in minus_5000]

In [ ]:
best = [-25000]
for i in range(10):
    new = (best[i]*1.06) +5000
    best.append(new)
# best = [i*-1 for i in best]

In [ ]:
best[-3] = best[-4]+5000
best[-2] = best[-3]+5000
best[-1] = best[-2]+5000

In [ ]:
best

In [ ]:
no_debt = []
for i in nothing:
    new = i + 5000
    no_debt.append(new)
no_debt

In [ ]:
conventional = [5000]
for i in range(10):
    new = conventional[i]*1.1 + 5000
    conventional.append(new)
conventional

In [ ]:
conventional[-1]=conventional[-1] + nothing[-1]

In [ ]:
conventional[-1] = conventional[-1] - 6000

In [ ]:
plt.plot(nothing, label='Contributed nothing')
plt.text(11,nothing[-1],round(nothing[-1],2))
plt.plot(minus_5000, label = 'Contributed $5,000 the first year')
plt.text(11, minus_5000[-1], round(minus_5000[-1],2))
plt.plot(best, label = 'Contributed $5,000 every year')
plt.text(11, best[-1], round(best[-1],2))
# plt.plot(conventional, label = 'Invested in stock market (10% return)')
# plt.text(11, conventional[-1]-5000, round(conventional[-1],2))
plt.title("Alex's Net Worth Over Time")
plt.xlabel('Years')
plt.ylabel('Net Worth ($)')
plt.legend(loc='upper left')
plt.savefig('alex_net_worth_over_time.jpg')

In [ ]:
import numpy as np

In [ ]:
import pandas as pd
df=pd.read_excel('state_tax.xlsx', '2020')
df.head()

In [ ]:
df['Unnamed: 0'] = df['Unnamed: 0'].apply(lambda x: np.NaN if ',' in str(x) else x).ffill()
df = df[1:].reset_index().set_index('index')

In [ ]:
df = df.iloc[1:255,:12]

In [ ]:
df.columns = ['state','single_rates','none','single_brackets','married_rates','none1','married_brackets','single_deduction','married_deduction','single_exemption','married_exemption','dependent_exemption']

In [ ]:
df=df.drop('none',1).drop('none1',1)
df

In [ ]:
df= df.replace(np.NaN, None).replace('none',0).replace('n.a',0).replace('n.a.',0)
df = df.drop_duplicates()
df.head(20)

In [ ]:
js=df.to_dict(orient = "records")
js

In [ ]:
d={}
for i in js:
    state = i['state']
    d[state] = {'single': {'deduction':int,'brackets':list(),'tax':list()},'married': {'deduction':0,'brackets':list(),'tax':list()}}

for i in js:
    state = i['state']
    d[state]['single']['deduction']= i['single_exemption'] + i['single_deduction']
    d[state]['married']['deduction']= i['married_exemption'] + i['married_deduction']
    d[state]['single']['brackets'].append(i['single_brackets'])
    d[state]['married']['brackets'].append(i['married_brackets'])
    d[state]['single']['tax'].append(i['single_rates'])
    d[state]['single']['tax'].append(i['married_rates'])



d

In [ ]:
tax(d, 80000, 'single','Mich.')

In [ ]:
d['Mich.']

In [ ]:
import requests

In [ ]:
e = ! curl 'https://taxee.io/api/v2/federal/2020' -H 'Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJBUElfS0VZX01BTkFHRVIiLCJodHRwOi8vdGF4ZWUuaW8vdXNlcl9pZCI6IjVlY2RjM2JkYTIyYzMxNzE3NDA1OTE5NCIsImh0dHA6Ly90YXhlZS5pby9zY29wZXMiOlsiYXBpIl0sImlhdCI6MTU5MDU0MzI5M30.ZaQjCJ-SxOcAK0ia0suZsydjf6Yua6BxQdeeWzIYyqQ'

In [ ]:
e[6]

In [ ]:
r = requests.get('https://taxee.io/api/v2/federal/2019', headers ={'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJBUElfS0VZX01BTkFHRVIiLCJodHRwOi8vdGF4ZWUuaW8vdXNlcl9pZCI6IjVlY2RjM2JkYTIyYzMxNzE3NDA1OTE5NCIsImh0dHA6Ly90YXhlZS5pby9zY29wZXMiOlsiYXBpIl0sImlhdCI6MTU5MDU0MzI5M30.ZaQjCJ-SxOcAK0ia0suZsydjf6Yua6BxQdeeWzIYyqQ'} )

In [ ]:
r.json()

In [ ]:
import json

with open('state_tax/2019/MI.json') as f:
    d=dict(json.load(f))
d

In [ ]:
! curl 'https://taxee.io/api/v2/state/2019/MI' -H 'Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJBUElfS0VZX01BTkFHRVIiLCJodHRwOi8vdGF4ZWUuaW8vdXNlcl9pZCI6IjVlY2RjM2JkYTIyYzMxNzE3NDA1OTE5NCIsImh0dHA6Ly90YXhlZS5pby9zY29wZXMiOlsiYXBpIl0sImlhdCI6MTU5MDU0MzI5M30.ZaQjCJ-SxOcAK0ia0suZsydjf6Yua6BxQdeeWzIYyqQ'

In [ ]:
import locale
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' )

In [ ]:
locale.currency(188518982.18, grouping=True)

In [ ]:
import json
year = '2020'
with open(f'fica_tax/{year}/fica.json') as f:
    d=json.load(f)
d

In [ ]:
def fica_tax(income, year):
    with open(f'fica_tax/{year}/fica.json') as f:
        d=json.load(f)
    rate = d['rate']
    wage_limit = d['wage_limit']
    if income > wage_limit:
        return wage_limit * rate
    else:
        return income * rate

In [ ]:
fica_tax(85000,2020)